<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span class="header-1"> Tanks </span>
</div>

<div class="w-100 mb-2">
  <form [formGroup]="tankForm">
    <div class="row">
      <div class="col-sm-2 mb-2">
        <label for="">Device</label>
        <select
          (change)="onDeviceChange($event)"
          formControlName="devices"
          class="form-select input_border_class"
          name=""
          id=""
        >
          <option value="">Select Device</option>
          <option [value]="device.value" *ngFor="let device of devices_data">
            {{ device.viewValue }}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>
<app-common-card>
  <div class="row">
    <ng-container *ngFor="let tank of tankData">
      <div class="col-sm-12 col-xl-3 mb-3">
        <app-common-card [card_title]="tank?.tank_name">
          <div class="mb-2"> <span class="fw-bold" >Tank ID:</span>  {{ tank.tank_id }}</div>
          <div class="mb-2"> <span class="fw-bold" >Fluid:</span>  {{ tank.fluid }}</div>
          <div class="mb-2"> <span class="fw-bold" >Level Monitoring:</span>  {{ tank?.level_monitoring }}</div>
          <div class="mb-2"> <span class="fw-bold" >Last Level:</span> {{ tank?.last_level }}</div>
          <div class="mb-2">
            <ngb-progressbar
              style="height: 30px"
              [showValue]="true"
              class="mb-3 rounded-0"
              type="success"
              [value]="tank.calculated_tank_level"
            />
          </div>
          <div class="mb-2"> <span class="fw-bold" >Maximum Level (lit):</span>  {{ tank?.maximum_level }}</div>
          <div class="mb-2"> <span class="fw-bold" >Current Level (lit):</span> {{ tank?.current_level }}</div>
          <div class="mb-2">
            <span class="fw-bold" >Low Warning Level:</span>  {{ tank?.low_warning_level }}
          </div>
          <div class="mb-2"> 
            <span class="fw-bold" > Tank Stop Level:</span> {{ tank?.tank_stop_level }}</div>
        </app-common-card>
      </div>
    </ng-container>
  
    <div class="col-sm-12">
      <button class="action-button-1 mb-2" (click)="getTanksData()" >Update Levels</button>
      <!-- <div class="mb-1 font-color-alemite" >Waiting For update</div> -->
      <div class="">Requested: {{last_updated_at}}</div>
    </div>
    <div class="col-sm-12 col-xl-3"></div>
  </div>
</app-common-card>
