<div class="login_container">
  <div class="nav_background d-flex align-content-center"> <span class="material-symbols-outlined me-2"> add_circle  </span><span>Add a Site</span> </div>
 
  <div class="login_form">
    <form>  

        <label class="mb-2" for="">Edge Device ID:</label> <input  placeholder="ID" class="form-control" type="text">
        <br>
      

     <div class="row p-0 m-0" >
        <button class="text_small col-sm-12 mb-2 button_Styles col-md-6" style="color: white" mat-button>
            Test Connection
          </button>
          <button class="ms-auto text_small button_Styles col-sm-12 col-md-5" style="color: white" mat-button>
            Save Site
          </button>
     </div>
    </form>
  </div>
</div>
