@import "../../../../variables";

.nav_background {
  background-color: $primary-600;
  color: white;
  padding:10px;
}

.button_Styles {
  background-color: $primary-600;
  color: white;
 
}

.login_container {
  min-width: 400px;
  background-color: transparent;
  border: none;
}

.login_header {
  color: $primary-600;
  padding: 10px 30px;
}

.login_form {
  padding: 10px;
}

.forgot_password {
  color: $blue-dark;
  text-decoration: none;
  cursor: pointer;
}


.text_small{
    font-size: $font-md;
}

@media screen and (max-width: 600px) {
   
    .login_container {
          min-width: auto;
        
          background-color: transparent;
          border: none;
        }
  }