<div class="login_container">
  <div class="nav_background d-flex align-items-center"> <span class="material-symbols-outlined font-size-lg me-2"> add_circle  </span><span>Add a Site</span> </div>
 
  <div class="login_form">
    <form>  

        <label class="mb-2" for="">Edge Device ID</label> <input  placeholder="ID" class="form-control input_border" type="text">
        <br>
      

     <div class="row p-0 m-0 d-flex gap-2">
          <button class="action-button-1 col-sm-12 btn col-md-6">
            Test Connection
          </button>
          <button class="action-button-1 btn col-sm-12 col-md-5 ms-auto">
            Save Site
          </button>
     </div>
    </form>
  </div>
</div>
