<div class="mb-2 d-flex justify-content-between w-100  align-items-center"  >
  <span class="header-1 " > {{component_details.name}}</span>
  <span class="ms-auto " *ngIf="component_details.button" > 
    <button class="btn action-button-1" >{{component_details.button.name}}</button>
  </span>
</div>
<div class="w-100" >
  <form [formGroup]="form">
    <div class="row" >

      <ng-container *ngFor="let control of controlConfig" >
      
        <div class="col-sm-3" >
          <label  for="">{{control.label}}</label>
          <select  class="form-select input_border_class" type="text" [formControlName]="control.name" >
            <!-- <option value="" selected >Select</option> -->
            <option [value]="option.value" *ngFor="let option of control.options" > {{option.viewValue}}</option>
          </select>
        </div>
      </ng-container>
      <div  class="input-group col-sm-3 " style="width: unset;">
        <input #searchedValue type="text" class="form-control search-box" placeholder="Search" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button (click)="searchEvent(searchedValue)" class="btn search-button"  type="button" id="button-addon1">
          <img style="height: 20px;" src="../../../../assets/imges/icons/basic_magnifier.svg" alt="">
        </button>
      </div>
     
    </div>
   

</form>
</div>

