

<div class="center-container">
  <div class="login-container">
    <div class="mb-5">
      <img style="height: 100%;width: 120px;" src="../../../../assets/imges/Alemite-logo-colour.svg" alt="">  
    </div>
    <!-- <div class="header-1 mb-3 page-title-color">LFC Cloud</div> -->
    <form class="row" [formGroup]="loginform" >
      <div class="col-sm-12 mb-2">
        <label class="mb-2"  for="">Customer ID</label>
        <input type="text" formControlName="customer_id" class="form-control input_border_class" placeholder="" />

        <app-common-error [form_control_name]="loginform.get('customer_id')"></app-common-error>
        
      </div>
      <div class="col-sm-12 mb-2">
        <label  class="mb-2"  for="">Email ID</label>
        <input type="text" formControlName="user_id" class="form-control input_border_class" placeholder="" />
        <app-common-error [form_control_name]="loginform.get('user_id')"></app-common-error>
      </div>
      <div class="col-sm-12 mb-3">
        <label  class="mb-2"  for="">Password</label>
        <div style="position: relative;">
          <input  [type]="isPasswordVisible ? 'text' : 'password'" class="form-control input_border_class" formControlName="password" placeholder="" />
          <span (click)="toggle()" class="toggle mb-2 cursor-pointer" >
         
            <img  *ngIf="isPasswordVisible" src="../../../../assets/imges/eye-alt-svgrepo-com.svg" style="width: 20px;" alt="">
            <img *ngIf="!isPasswordVisible" src="../../../../assets/imges/eye-slash-svgrepo-com.svg" style="width: 20px;" alt="">
  
          </span>
        </div>
        <app-common-error [form_control_name]="loginform.get('password')"></app-common-error>

      </div>

      
      <div class="col-sm-12 mb-3" >
        <button [disabled]="loginform.invalid" (click)="login()" class="action-button-1" >
           Login</button>
      </div>

      
      <div class="col-sm-12 mb-1" >
        <span [routerLink]="'/request-reset-password'" class="hyperlink cursor-pointer" >
            Forgot Password? </span>
      </div>

      <div  class="mt-3 text-center buildno" >
        281223.15
      </div>
    </form>
  </div>
</div>
