<div class="wrapper-class">
  <div class="login_container border">
       <h3 class="nav_background" >SKF</h3>
       <h5 class="login_header">Login to LFC Cloud</h5>
       <div class="login_form" >

        <form>
            <input placeholder="username" type="text" class="form-control mb-2" style="outline: none;box-shadow: none;" >
            <input placeholder="password" type="Password" class="form-control mb-2" style="outline:none;box-shadow: none;">
            <button class="nav_background" style="color: white;" mat-button>Log In</button>
            <p><a class="forgot_password" [routerLink]="'/auth/mail-verification'" >Forgot Password?</a></p>
        </form>

       </div>

        
  </div>
</div>
