@import '../../../../variables';

.center-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.login-container{
    width: 300px;
    padding: 20px 30px;
}

.main-title{
    font-size: $font-xxl;
    color: $primary-600;
    font-weight: 500;
}

.main-sub-title{
   
   
}

.page-title-color{
    color: $primary-600;
}



.forgot_password{
    font-size: $font-sm;
}

.mystyle{
    @include action-btn-1;
}


.buildno{
    color: $grey-300;
}