@import '../../../../../variables';
.useradd-container{
    background-color: $white;
    width: 60vw;
}

select{
    font-size: $font-sm;
}

@media screen and (max-width:500px) {
    .useradd-container{
        background-color: $white;
        width: 90vw;
    } 
}