

<div class="device-add-container">
    <div class="skf-background pb-2 pt-2 ps-3 pe-3 page-title">Add User</div>
    <form class="row ps-3 pe-3 mt-2" >
        
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Name</label>
            <input type="text" class="form-control input_border_class" >
        
        </div>
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Email</label>
            <input type="text" class="form-control input_border_class" >
        
        </div>
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">User Role</label>
            <select class="form-select"  name="" id="">
                <option value="">Admin</option>
                <option value="">Device Manager</option>
                <option value="">Site Manager</option>
            </select>
        
        </div>
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Status</label>
            <select class="form-select"  name="" id="">
                <option value="">Activated</option>
                <option value="">Suspended</option>
                <option value="">Deleted</option>
            </select>
        
        </div>
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Contact Number</label>
            <input type="number" class="form-control input_border_class" >
        
        </div>
        
        

        
        <div class="col-sm-12 d-flex justify-content-end mt-2 mb-2  mb-2">
            <button class="action-button-1  " >Add</button>
            <button type="button" class="action-button-2 ms-2" (click)="closeModal()"  >Cancel</button>
        </div>
       
    </form>
  
  
  
  </div>
  