

<div class="d-flex justify-content-between" style="margin-bottom: 15px">
    <span class="header-1">
      {{
        isEditModeOn ? 'Edit User' : 'Add User'
          
      }}
    </span>
    <button *ngIf="isEditModeOn" class="action-button-1">Delete User</button>
  </div>
  
  <app-common-card>
    <div class="row" style="height: auto">
    
  
      <div class="col-sm-12">
        <form class="row ps-3 pe-3 mt-3" [formGroup]="userForm" >
        
            <div class="col-sm-12 col-xl-4 mb-2">
    
                <label class="mb-2" for="">Name</label>
                <input formControlName="name" type="text" class="form-control input_border_class" >
                <app-common-error [form_control_name]="userForm.get('name')" ></app-common-error>
            
            </div>
            <div class="col-sm-12 col-xl-4 mb-2">
    
                <label class="mb-2" for="">Email</label>
                <input formControlName="email" type="text" class="form-control input_border_class" >
                  <app-common-error [form_control_name]="userForm.get('email')" ></app-common-error>
            
            </div>
            <div class="col-sm-12 col-xl-4  mb-2">
    
                <label class="mb-2" for="">User Role</label>
                <!-- <select formControlName="role" class="form-select"  name="" id="">
                    <option value="1">Admin</option>
                    <option value="2">Device Manager</option>
                    <option value="3">Site Manager</option>
                </select> -->

                <ng-multiselect-dropdown
            formControlName="role"
            [placeholder]="'select user role'"
            [settings]="dropdownSettings"
            [data]="userRoles"
            [(ngModel)]="selectedItems"
        
          
          >
          </ng-multiselect-dropdown>
                  <app-common-error [form_control_name]="userForm.get('role')" ></app-common-error>
            
            </div>
           
            <div class="col-sm-12 col-xl-4 mb-2">
    
                <label class="mb-2" for="">Contact Number</label>
                <input formControlName="contact_number" type="number" class="form-control input_border_class" >
                  <app-common-error [form_control_name]="userForm.get('contact_number')" ></app-common-error>
            
            </div>
            
            <div  *ngIf="isEditModeOn" class="col-sm-12 col-xl-4 mb-2 d-flex align-items-end">
    
                <div class="d-flex align-items-center">
                    
                <input type="checkbox" class="me-2" formControlName="status" name="" id="">
                <label class="" for="">Deactivate</label>
                </div>
                <app-common-error [form_control_name]="userForm.get('status')" ></app-common-error>
            
            </div>
            
    
            
            <div class="col-sm-12  d-flex justify-content-end mt-2 mb-2  mb-2">
                <button [disabled]="userForm.invalid" type="button" class="action-button-1 align-self-end" (click)="isEditModeOn?updateUser():createUser()" >Submit </button>
                <button *ngIf="!isEditModeOn" [routerLink]="'/feature/users'"  type="button" class="action-button-1 ms-2  align-self-end " >Cancel</button>
            </div>
           
        </form>
      
      </div>
    </div>
  </app-common-card>
  

