

<div class="device-add-container">
  <div class="skf-background pb-2 pt-2 ps-3 pe-3 page-title">Add Device</div>

  <form class="ps-3 pe-3 mt-3"  [formGroup]="deviceForm">
    <div class="row">
      <div class="col-sm-6">
        <label class="font-size-sm mb-2 mt-2" for="">Select Device</label>
        <select  class="form-select" formControlName="hardware" name="" id="">
          <option value="">Select device</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="mb-2 mt-2" for="">Device Name</label>
        <input class="form-control" type="text" placeholder="Device Name" />
      </div>
      <div class="col-sm-6">
        <label class="font-size-sm mb-2 mt-2" for="">Select Country</label>
        <select  class="form-select" formControlName="hardware" name="" id="">
          <option value="">Select Country</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="font-size-sm mb-2 mt-2" for="">Select Timezone</label>
        <select  class="form-select" formControlName="timezone" name="" id="">
          <option value="">Select Timezone</option>
          <option *ngFor="let timezone of timeszones" [value]="timezone.name">
            {{ timezone.name }} (UTC{{ timezone.offset }})
          </option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="font-size-sm mb-2 mt-2" for="">Select State</label>
        <select  class="form-select" formControlName="hardware" name="" id="">
          <option value="">Select State</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label class="mb-2 mt-2" for="">Location</label>
        <input class="form-control" type="text" placeholder="Location" />
      </div>
      <div class="col-sm-6">
        <label class="mb-2 mt-2" for="">Select Manager</label>
        <select  class="form-select"  name="" id="">
          <option value="">Select Manager</option>
        </select>
      </div>
    

      <div class="col-sm-12 d-flex justify-content-end mt-4 mb-4 gap-2">
        <button class=" action-button-1">Add</button>
        <button class=" action-button-2" (click)="closeModal()" >Cancel</button>
      </div>
    </div>
  </form>

</div>
