@import '../../../variables';

.nav_background{
    background-color: $skf-blue;   
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}


.link-color{
    color:$white;
    transition: all 100ms ease-in-out;
    text-decoration: none;
    
}
.link-color:hover{
    color: $yellow-2;
}
.icon-size{
    width: $font-lg;
}


.active_route{
   color:$yellow-2;
}

.nav_background_below{
    border-bottom: 1px solid #959595;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
   

}


.sub-header{
    background-color: $grey-5;
    color: $grey-1;
    height: 45px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
}

.header-link-text{
    line-height: 2%;
}


.header-link-text{
    vertical-align: middle;
}
