<nav class="nav_background">
  <ul
    class="nav_ol_styles d-flex p-0  w-100 m-0 gap-4"
    style="list-style: none"
  >
    <li class="me-2 logo-container">
      <span class="">
        <img
          class="header-logo"
          src="../../../assets/imges/Alemite-logo-colour.svg"
          alt=""
        />
      </span>
    </li>
    <li style="color: white" class="company-name me-auto">
      <div style="font-size: 18px">LFC Cloud</div>
    </li>

    <ng-container *ngIf="!isSidebarOpen">
      <li
      [routerLinkActive]="'active_route'"
      [routerLink]="link.link"
        *ngFor="let link of filteredNavigationLinks"
        class="nav-item  me-2"
      >
        <a
         
          class="gap-1 link-color"
        >
          <!-- <span> <img class="icon-regular" [ngClass]="link.class" [src]="link.icon" alt="" /> </span> -->
          <span class="header-link-text"> {{ link.name }}</span>
        </a>
      </li>
    </ng-container>

    <li *ngIf="!isSidebarOpen" class="d-flex align-items-center">
      <div class="">
        <!-- <img
          class="icon-regular"
          src="../../../assets/imges/icons/global.svg"
          alt=""
        /> -->
      </div>
      <div>
        <select class="transparent-select" name="" id="">
          <option value="en">EN</option>
          <option value="fr">FR</option>
          <option value="sp">SP</option>
        </select>
      </div>
    </li>

    <li *ngIf="!isSidebarOpen" class="d-flex align-items-center">
      <!-- <div>
        <img
          class="icon-regular"
          src="../../../assets/imges/icons/user.svg"
          alt=""
        />
      </div> -->
      <div>
        <select
          (change)="onNavOptionChange($event)"
          style="width: 100px"
          class="transparent-select"
          name=""
          id=""
        >
          <option value="someone" selected hidden>
            {{ username ? username : "User name" }}
          </option>
          <option value="change Password">Change Password</option>
          <option value="logout">Log out</option>
        </select>
      </div>
    </li>
    <li
      *ngIf="isSidebarOpen"
      (click)="toggleSideNav()"
      style="position: relative; z-index: 5"
      class="d-flex align-items-center ms-auto"
    >
      <div class="cursor-pointer icon-size" style="">
        <img src="../../../assets/imges/icons/menu.svg" alt="" />
      </div>
    </li>
  </ul>
</nav>

<!-- <nav class="sub-header">
  <ul
    class="w-100 m-0 p-0 d-flex align-items-center"
    style="list-style: none"
  >
    <li class="">
      <div style="font-size: 18px">LFC Cloud</div>
    </li>

    
  </ul>
</nav> -->
