<nav class="nav_background ">
  <ul
    class="d-flex p-0 align-items-center w-100 m-0 gap-4"
    style="list-style: none;"
  >
    <li class="me-5">
      <span class="">
        <img
          class=""
          style="height: 25px; width:auto"
          src="../../../assets/imges/skf-logo-white.svg"
          alt=""
        />
      </span>
    </li>

    <ng-container *ngIf="!isSidebarOpen">
      <li *ngFor="let link of filteredNavigationLinks" class="nav-item me-2">
        <a
          [routerLinkActive]="'active_route'"
          [routerLink]="link.link"
          class="gap-1 link-color"
        >
          <span> <img class="icon-regular" [src]="link.icon" alt="" /> </span
          ><span class="header-link-text"> {{ link.name }}</span>
        </a>
      </li>
    </ng-container>

    <li *ngIf="!isSidebarOpen" class="d-flex align-items-center ms-auto me-5">
      <div class="">
        <img
          class="icon-regular"
          src="../../../assets/imges/icons/global.svg"
          alt=""
        />
      </div>
      <div>
        <select class="transparent-select" name="" id="">
          <option value="en">EN</option>
          <option value="fr">FR</option>
          <option value="sp">SP</option>
        </select>
      </div>
    </li>
    <li *ngIf="!isSidebarOpen" class="d-flex align-items-center">
      <div style="color: white; font-size: 18px">Company Name</div>
    </li>
    <li *ngIf="!isSidebarOpen" class="d-flex align-items-center">
      <div>
        <img
          class="icon-regular"
          src="../../../assets/imges/icons/user.svg"
          alt=""
        />
      </div>
      <div>
        <!-- <select class="transparent-select" name="" id="">
          <option value="someone" selected hidden>John D</option>
          <option value="change Password">Change Password</option>
          <option value="logout">Log out</option>
        </select> -->
        <div ngbDropdown class="d-inline-block">
          <button type="button" id="dropdownBasic1" style="background-color: transparent;border:none;color:white" ngbDropdownToggle>
            John D
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem> Change Password </button>
            <button ngbDropdownItem> Log out </button>
          </div>
        </div>
      </div>
    </li>
    <li
      *ngIf="isSidebarOpen"
      (click)="toggleSideNav()"
      style="position: relative; z-index: 5"
      class="d-flex align-items-center ms-auto"
    >
      <div class="cursor-pointer icon-size" style="">
        <img src="../../../assets/imges/icons/menu.svg" alt="" />
      </div>
    </li>
  </ul>
</nav>

<nav class="sub-header">
  <ul
    class="w-100 m-0 p-0 d-flex align-items-center"
    style="list-style: none"
  >
    <li class="">
      <div style="font-size: 18px">LFC Cloud</div>
    </li>

    <li class="" style="margin-left:85px;">
      <app-navigation-dropdown
        (select_option)="siteOptionChanged($event)"
        [placeholder]="'All Sites'"
        [icon]="'../../../../assets/imges/icons/global.svg'"
        [options]="options"
      ></app-navigation-dropdown>
    </li>
    <li class="ms-3">
      <app-navigation-dropdown
        [placeholder]="'Select'"
        [icon]="'../../../../assets/imges/icons/refresh.svg'"
        [options]="options_today"
      ></app-navigation-dropdown>
    </li>
    <li class="ms-3">
      <button style="height: 36px;" class="btn action-button-4">
        <img
          [src]="'../../assets/imges/icons/refresh.svg'"
          class="icon-regular me-2"
          alt=""
        />
        <span>Sync All Sites</span>
      </button>
    </li>
  </ul>
</nav>
