@import '../../../variables';

.nav_background{
    background-color: $primary-color;   
    height: 50px;
}


.link-color{
    color:$font-light
}

.icon-size{
    font-size: $font-lg
}


.active_route{
   color:#fdd158;
}

.nav_background_below{
    border-bottom: 1px solid #959595;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
   

}



