<div class="common_card_container"  >
    <div class="alert_title mb-2 text-center" >
        {{ this.alertData.alert_title }}
    </div>
    <div class="alert_body mb-3 text-center" >
        {{this.alertData.alert_body}}
    </div>
    <div class="alert_body mb-3 text-center" >
        {{this.alertData.alert_footer}}
    </div>
    <div class="alert_buttons_container  mb-2 d-flex justify-content-center" >
        <button (click)="buttonClicked(button.button_value)" [class]="button.type == 1 ?'action-button-1':'action-button-2'" class="me-2" *ngFor="let button of this.alertData.alert_actions">{{button.button_name}}</button>
    </div>
</div>