<div class="row"  >
  <div class="col-sm-12 col-xl-6 mb-2" >
    <app-common-card >
      <div class="row">
        <div class="col-sm-12 col-xl-7">
          <div class="d-flex align-items-center" >
            <span>
              <img *ngIf="false" style="width: 20px;" class="me-2" src="../../../../assets/imges/icons/wifi-off.svg" alt="">
              <img   style="width: 20px;" class="me-2 custom_color" src="../../../../assets/imges/icons/wifi.svg" alt="">
            </span>

             <div class="card_title"> Device name, location </div>
          </div> 
          <!-- <div class="">
            Online Since hh:mm mm/dd/yyyy
          </div> -->
        </div>
        <div class="col-auto align-self-end ms-auto">
          <button class="action-button-3">Get Latest Data</button>
        </div>
        <div class="col-sm-12">
          Showing data for dd-mm-yyy
        </div>
       
     
      </div>
      <div class=" mt-2 mb-2">
        <div class="row mb-2" >
          <div class="col-sm-12 col-xl-6">
            <label for="">Show Site</label>
            <select class="form-select input_border_class" name="" id="">
              <option value="">Select</option>
            </select>
          </div>
          <div class="col-sm-12 col-xl-6">
            <label for="">Show Fluid</label>
            <select class="form-select input_border_class" name="" id="">
              <option value="">Select</option>
            </select>
          </div>
        </div>
       <div class="border"> <app-chart [chartOptions]="hourly_dispenses"></app-chart></div>
      </div>
      <div class="row" >
       <div class="col-auto ms-auto" > <button class="action-button-3 ">Download Data</button></div>  
       
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 mt-2 col-xl-4">
            <span class="me-2 font-sm">Dispense Errors</span>  <span class="badge bg-danger cursor-pointer" [routerLink]="'/feature/dispenses'"> 5 </span>
        </div>
        <div class="col-sm-12 mt-2 col-xl-4">
          <span class="me-2 font-sm"> Device Health Alerts</span> <span class="badge bg-warning cursor-pointer" [routerLink]="'/feature/devices'"> 1</span>
        </div>
        <div class="col-sm-12 mt-2 col-xl-4">
          <span class="me-2 font-sm"> Low Tank Warnings</span> <span class="badge bg-warning cursor-pointer" [routerLink]="'/feature/tanks'">  1</span>
         
        </div>
      </div>
    </app-common-card>
  </div>

  <div class="col-sm-12 col-xl-6 mb-2" >
    <app-common-card >
      <div class="row">
        <div class="col-sm-12 col-xl-7">
          <div class="d-flex align-items-center" >
            <span>
              <img *ngIf="false" style="width: 20px;" class="me-2" src="../../../../assets/imges/icons/wifi-off.svg" alt="">
              <img   style="width: 20px;" class="me-2 custom_color" src="../../../../assets/imges/icons/wifi.svg" alt="">
            </span>

             <div class="card_title"> Device name, location </div>
          </div> 
          <!-- <div class="">
            Online Since hh:mm mm/dd/yyyy
          </div> -->
        </div>
        <div class="col-auto align-self-end ms-auto">
          <button class="action-button-3">Get Latest Data</button>
        </div>
        <div class="col-sm-12">
          Showing data for dd-mm-yyy
        </div>
       
     
      </div>
      <div class=" mt-2 mb-2">
        <div class="row mb-2" >
          <div class="col-sm-12 col-xl-6">
            <label for="">Show Site</label>
            <select class="form-select input_border_class" name="" id="">
              <option value="">Select</option>
            </select>
          </div>
          <div class="col-sm-12 col-xl-6">
            <label for="">Show Fluid</label>
            <select class="form-select input_border_class" name="" id="">
              <option value="">Select</option>
            </select>
          </div>
        </div>
       <div class="border"> <app-chart [chartOptions]="hourly_dispenses"></app-chart></div>
      </div>
      <div class="row" >
       <div class="col-auto ms-auto" > <button class="action-button-3 ">Download Data</button></div>  
       
      </div>
      <div class="row mt-4">
        <div class="col-sm-12 mt-2 col-xl-4">
            <span class="me-2 font-sm">Dispense Errors</span>  <span class="badge bg-danger cursor-pointer" [routerLink]="'/feature/dispenses'"> 5 </span>
        </div>
        <div class="col-sm-12 mt-2 col-xl-4">
          <span class="me-2 font-sm"> Device Health Alerts</span> <span class="badge bg-warning cursor-pointer" [routerLink]="'/feature/devices'"> 1</span>
        </div>
        <div class="col-sm-12 mt-2 col-xl-4">
          <span class="me-2 font-sm"> Low Tank Warnings</span> <span class="badge bg-warning cursor-pointer" [routerLink]="'/feature/tanks'">  1</span>
         
        </div>
      </div>
    </app-common-card>
  </div>

 
</div>




