@import '../../../../variables';
.card_title{
    font-weight:500;
    font-size: $font-lg;
}
.custom_color{
    


filter: invert(39%) sepia(96%) saturate(408%) hue-rotate(71deg) brightness(91%) contrast(94%);
}