<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span class="header-1">Support</span>
</div>

<div class="w-100 mb-2">
  <form [formGroup]="dispensesForm">
    <div class="row">
      <div class="col-sm-2 mb-2">
        <label for="">Device</label>
        <select
          (change)="onDeviceChange($event)"
          formControlName="devices"
          class="form-select input_border_class"
          name=""
          id=""
        >
          <option [value]="device.value" *ngFor="let device of devices_data">
            {{ device.viewValue }}
          </option>
        </select>
      </div>
      <div class="col-sm-2 mb-2 d-flex">
        <input
          value="last_request"
          (change)="onFilterGroupChange($event)"
          formControlName="support_filter_toggle"
          class="dispense_radio align-self-end me-2"
          type="radio"
          name="support_filter_toggle"
        />
        <div class="flex-grow-1">
          <label for="">Last Request</label>
          <select
            (change)="onRequestChange($event)"
            formControlName="last_request"
            class="form-select input_border_class"
            name=""
            id=""
          >
            <option
              [value]="request.value"
              *ngFor="let request of request_data"
            >
              {{ request.viewValue }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-2 mb-2 d-flex">
        <input
          value="dates"
          (change)="onFilterGroupChange($event)"
          formControlName="support_filter_toggle"
          class="dispense_radio align-self-end me-2"
          type="radio"
          name="support_filter_toggle"
        />

        <div class="flex-grow-1">
          <label for="">Start Date</label>
          <input
            formControlName="start_date"
            (change)="startDateChange($event)"
            type="date"
            class="form-control input_border_class"
          />
        </div>
      </div>
      <div class="col-sm-2 mb-2">
        <label for="">End Date</label>
        <input
          formControlName="end_date"
          (change)="endDateChange($event)"
          type="date"
          class="form-control input_border_class"
        />
      </div>
      <div class="col-auto mb-2 ms-auto" style="align-self: end">
        <button
          (click)="getData()"
          class="action-button-1"
          style="height: 35px"
        >
          Fetch Data
        </button>
      </div>

      <div class="col-auto mb-2" style="align-self: end">
        <button
          style="height: 35px"
          class="action-button-1 me-2"
          (click)="requestSupport()"
        >
          Request Support
        </button>
      </div>
    </div>
  </form>
</div>
<div style="margin-bottom: 15px">
  <app-common-table
    (commentHistory)="catchCommentHistory($event)"
    (rowClick)="rowClick($event)"
    [actions]="{ type: 'dd', data: [] }"
    [columns]="displayed_columns"
    [data]="table_data"
  ></app-common-table>
</div>

<div class="d-flex justify-content-end">
  <button class="action-button-1">Download List</button>
</div>
