@import '../../../../variables';
td{
    // border: 1px solid#f0f0f0;
    border: 1px solid#e6e5e5;
   white-space: nowrap;
   @include table-row ;
   
}
th{
    border: 1px solid#e6e5e5;
    @include table-heading;
    
}
.header-color{
    background-color: $grey-2;
}


.mat-mdc-table .mdc-data-table__row {
    height: 35px;
}
.mat-mdc-table .mdc-data-table__row:hover{
    background-color: $grey-1;
    cursor: pointer;
}
.mat-mdc-table .mdc-data-table__header-row {
    height: 35px;
}

.action-select{
border: 0;
padding: 3px;
background-color: transparent;
max-width: 100px;
outline: none;
}







.tag_success{
    background-color: $green-4;
    // border: 1px solid $green-3;
    
}
.tag_cancelled{
    background-color: $red-3;
    // border: 1px solid $red-4;
    
}
.tag_warn{
    background-color: $yellow-4;
    // border: 1px solid $yellow-3;
    
}

