<div class="w-100" style="overflow-x: auto">
  <form [formGroup]="dispense_status_form" class="header-color row d-flex align-items-center " style="height: 50px">
    <div class="col-sm-4 d-flex align-items-center ms-2 ">
      
        <span style="text-wrap: nowrap;" for="">Dispense Status </span>
        <select
          (change)="onDispenseStatusChange($event)"
          formControlName="dispense_status"
          class="form-select input_border_class ms-2"
          name=""
          id=""
        >
          <option
            [value]="dispense.value"
            *ngFor="let dispense of dispense_statuses"
          >
            {{ dispense.viewValue }}
          </option>
        </select>
     
    </div>
    <div class="col-sm-4 d-flex align-items-center ">
      <span  for="">Search</span>
      <div
        class="input-group col-sm-3 ms-2"
        style="width: unset; height: 38px; align-self: end"
      >
        <input
          (keyup)="onSearch($event)"
          #searchedValue
          type="text"
          class="form-control search-box"
          placeholder="Transaction Number"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
        />
        <button
          (click)="onClickSearch(searchedValue.value)"
          class="btn search-button"
          type="button"
          id="button-addon1"
        >
          <img
            style="height: 20px"
            src="../../../../assets/imges/icons/basic_magnifier.svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </form>
  <table mat-table [dataSource]="dataSource" matSort class="table table-striped">
    <ng-container
      *ngFor="let column of columns; let columnIndex = index"
      [matColumnDef]="column"
    >
      <th   mat-sort-header mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td
      
        [ngClass]="{ tag_cancelled: row['Connection'] == 'Offline' }"
        mat-cell
        *matCellDef="let row; let rowIndex = index"
      >
        <ng-container
          *ngIf="
            column !== 'Action' &&
            column !== 'Pin' &&
            column !== 'System Health'
          "
        >
          <span class="font-size-xs" (click)="onRowClick($event, row)">
            {{ row[column] }}
          </span>
        </ng-container>
        <ng-container *ngIf="column == 'Pin'">
          <span>
            <span
              class="font-size-xs cursor-pointer"
              [popoverTitle]="'PIN'"
              [autoClose]="'outside'"
              [ngbPopover]="row[column]"
            >
              Show
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="column == 'System Health'">
          <span>
            <span
              class="font-size-xs cursor-pointer"
              [popoverTitle]="'System Health'"
              [autoClose]="'outside'"
              [ngbPopover]="row['system_health_details']"
            >
              {{ row[column] }}
            </span>
          </span>
        </ng-container>

        <ng-container *ngIf="column == 'Action'">
          <ng-container *ngIf="actions.type == 'btn'">
            <!-- <button
              class="btn  d-flex align-items-center"
              *ngFor="let button of actions.data"
              (click)="onButtonClicked($event,row, button)"

            >
              {{ button }}
            </button> -->
            <ng-container *ngFor="let button of actions.data">
              <span
                style="
                  color: rgb(128, 136, 149);
                  font-size: 16px;
                  vertical-align: middle;
                "
                (click)="onButtonClicked($event, row, button)"
                class="material-icons"
              >
                settings
              </span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="actions?.type == 'dd'">
            <select
              style="min-width: 100px"
              class="action-select"
              (change)="onSelectionChange($event, row)"
            >
              <option value="option" *ngFor="let option of row?.['Action']">
                {{ option }}
              </option>
            </select>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr class="header-color" mat-header-row *matHeaderRowDef="columns"></tr>
    <tr class="body_row" mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
<div
  *ngIf="data.length == 0"
  class="header-color d-flex align-items-end justify-content-center p-2 fw-bold"
>
  No Records Found
</div>
<mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
