






<div class="center-container">
    <div class="login-container">
      <div class="mb-5">
        <img style="height: 100%;width: 120px;" src="../../../assets/imges/Alemite-logo-colour.svg" alt="">  
      </div>
      <!-- <div class="header-1 mb-3 page-title-color">LFC Cloud</div> -->
      <form class="row" [formGroup]="setPasswordForm" >
        <div class="col-sm-12 mb-2">
          <label for="" class=" mb-2" >Client Code</label>
          <input type="text" [readonly]="true"  formControlName="client_code" class="form-control input_border_class" placeholder="" />
          <app-common-validation-error [Control]="setPasswordForm.get('client_code')" ></app-common-validation-error>
          
  
        </div>
        <div class="col-sm-12 mb-2">
            <label class=" mb-2"   for="">Password</label>
          <input type="password" formControlName="password" class="form-control input_border_class" placeholder="" />
          <app-common-validation-error [Control]="setPasswordForm.get('password')" ></app-common-validation-error>
          
  
        </div>
        <div class="col-sm-12 mb-3" style="position: relative;" >
            <label class=" mb-2"  for="">Password</label>
          <input [type]="isPasswordVisible ? 'text' : 'password'"  formControlName="password_confirm" class="form-control input_border_class" placeholder="" />
          <span (click)="toggle()" class="toggle mb-2 cursor-pointer" >
         
            <img  *ngIf="isPasswordVisible" src="../../../../assets/imges/eye-alt-svgrepo-com.svg" style="width: 20px;" alt="">
            <img *ngIf="!isPasswordVisible" src="../../../../assets/imges/eye-slash-svgrepo-com.svg" style="width: 20px;" alt="">
            
  
          </span>
          <app-common-validation-error [Control]="setPasswordForm.get('password_confirm')" ></app-common-validation-error>
          

        </div>

  
        <div  class="mt-2 mb-2 validation-error"  *ngIf="setPasswordForm.valid  && setPasswordForm.get('password_confirm').value !== setPasswordForm.get('password').value " >
            Password & Confirm Password don't match.
        </div>
       
        <div class="col-sm-12 mb-3" >
          <button  [disabled]="setPasswordForm.invalid || setPasswordForm.get('password_confirm').value !== setPasswordForm.get('password').value" (click)="updatePassword()"  class="action-button-1" >
           {{ areWeResettingThePassword ?  'Reset Password' :'Set Password'}}</button>
        </div>
       
      </form>
    </div>
  </div>
  