<div class="login-img loginimg " *ngIf="false" >
    <div class="page">
        <div class="">
          
            <div class="col col-login mx-auto">
                
            </div>
                <ul ngbNav #nav="ngbNav"  class="nav-pills container-login100">
                    
                    <li ngbNavItem="Angular">
                        
                        <ng-template ngbNavContent>
                            <div class="card-body">
                                <div class="text-center" style="margin-bottom: 10%;">
                                    <img src="../../assets/images/brand/logo.svg" class="header-brand-img" alt="">
                                </div>
                                <div class="wrap-input100 validate-input">
                                    <div class="form-group">
                                        <label class="form-label">Password</label>
                                        <input class="form-control" placeholder="Enter Your Password" type="password" (keyup)="checkPasswordFormat($event)" [(ngModel)]="userPassword">
                                        <div class="pt-2">
                                            <span class="text-{{colorName}}" style="line-height: 1;">{{message}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="wrap-input100 validate-input">
                                    <div class="form-group">
                                        <label class="form-label">Confirm Password</label>
                                        <input class="form-control" placeholder="Confirm Your Password" type="password" [(ngModel)]="confirmPassword" (keyup)="matchPassword($event)">
                                        <div class="pt-2">
                                            <span class="text-{{colorName}}">{{confirmPasswordMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="submit btn-animation">
                                    <a class="login100-form-btn  btn-loaders"  *ngIf="showLoader">Please Wait</a>

                                    <button type="submit" class="login100-form-btn " [disabled]="disableSubmit" (click)="updatePassword()" *ngIf="!showLoader"> Submit</button>

                                </div>
                                <div class="text-center pt-5">
                                    <p  class="text-danger pt-2">
                                        {{ErrorMsg}}</p>
                                </div>
                               
                              
                                
                                
                        </div>
                        </ng-template>
                    </li>
                </ul>
            <div class="container-login100">
                <div class="wrap-login100 p-6 width-25">
                    <div [ngbNavOutlet]="nav" class="ml-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="center-container">
    <div class="login-container">
      <div class="mb-5">
        <img style="height: 100%;width: 120px;" src="../../../../assets/imges/logo-skf.svg" alt="">  
      </div>
      <div class="header-1 mb-3 page-title-color">LFC Cloud</div>
      <form class="row" [formGroup]="setPasswordForm" >
        <div class="col-sm-12 mb-2">
          <input type="text" [readonly]="true"  formControlName="client_code" class="form-control input_border_class" placeholder="Client Code" />
          <app-common-validation-error [Control]="setPasswordForm.get('client_code')" ></app-common-validation-error>
          
  
        </div>
        <div class="col-sm-12 mb-2">
          <input type="password" formControlName="password" class="form-control input_border_class" placeholder="Password" />
          <app-common-validation-error [Control]="setPasswordForm.get('password')" ></app-common-validation-error>
          
  
        </div>
        <div class="col-sm-12 mb-3" style="position: relative;" >
          <input [type]="isPasswordVisible ? 'text' : 'password'"  formControlName="password_confirm" class="form-control input_border_class" placeholder="Confirm password" />
          <span (click)="toggle()" class="toggle mb-2 cursor-pointer" >
         
            <img  *ngIf="isPasswordVisible" src="../../../../assets/imges/eye-alt-svgrepo-com.svg" style="width: 20px;" alt="">
            <img *ngIf="!isPasswordVisible" src="../../../../assets/imges/eye-slash-svgrepo-com.svg" style="width: 20px;" alt="">
            
  
          </span>
          <app-common-validation-error [Control]="setPasswordForm.get('password_confirm')" ></app-common-validation-error>
          

        </div>

  
        <div  class="mt-2 mb-2 validation-error"  *ngIf="setPasswordForm.valid  && setPasswordForm.get('password_confirm').value !== setPasswordForm.get('password').value " >
            Password & Confirm Password don't match.
        </div>
       
        <div class="col-sm-12 mb-3" >
          <button  [disabled]="setPasswordForm.invalid || setPasswordForm.get('password_confirm').value !== setPasswordForm.get('password').value" (click)="updatePassword()"  class="action-button-1" >
           {{ areWeResettingThePassword ?  'Reset Passwowrd' :'Set Password'}}</button>
        </div>
       
      </form>
    </div>
  </div>
  