<div
  tabindex="0"
  class="custom_select"
  (blur)="focusOut()"
  [ngClass]="{
    dropdown_expanded: isDropdownExpanded ? isDropdownExpanded : false
  }"
>
  <div
    [ngClass]="{
      selected_value:
        selected_item !== undefined && isDropdownExpanded ? true : false
    }"
    (click)="toggleDropdown()"
    class="text-inside d-flex align-items-center gap-2 w-100"
  >
    <span  
      ><img class="icon-regular" [src]="icon" alt="">
    </span>
    {{ selected_item?.viewValue || placeholder }}
    <div class=" cursor_selected ms-auto">
      <!-- {{ isDropdownExpanded ? "expand_less" : "expand_more" }} -->
      <img *ngIf="isDropdownExpanded"  style="filter: invert(1);" src="../../../../assets/imges/icons/angle-up.svg" alt="" srcset="">
      <img *ngIf="!isDropdownExpanded" style="filter: invert(1);" src="../../../../assets/imges/icons/angle-down.svg" alt="" srcset="">
    </div>
  </div>

  <div class="dropdown" *ngIf="isDropdownExpanded">
    <ul>
      <li (click)="selected(option.value)" *ngFor="let option of options">
        {{ option.viewValue }}
      </li>
    </ul>
  </div>
</div>
