



$black:#273342;
$white:  #fff;

// blue

$blue-base:#84a9e9;
$blue-dark:#4f84e0;
$blue-darker:#335591;

// green

$green-base:rgb(4, 137, 66);
$green-dark:rgb(3, 116, 56);
$green-darker:rgb(2, 89, 42);

// orange

$orange-base:rgb(255, 153, 54);
$orange-dark:rgb(255, 128, 4);
$orange-darker:rgb(255, 102, 3);

// purple


$purple-base:rgb(83, 20, 102);
$purple-dark:rgb(120, 30, 147);
$purple-darker:rgb(241, 232, 244);

//  red

$red-base:rgb(204, 0, 0);
$red-dark:rgb(173, 0, 0);
$red-darker:rgb(132, 0, 0);
$red-light:#ffd6d6;

// yellow 

$yellow-base:rgb(255, 228, 138);
$yellow-dark:rgb(255, 215, 79);
$yellow-darker:rgb(255, 202, 21);

// grey 

$grey-25 : rgb(248, 248, 248);
$grey-50 : rgb(246, 246, 246);
$grey-100 :rgb(235, 236, 238);
$grey-200 : rgb(226, 228, 231);
$grey-300 : rgb(213, 216, 220);
$grey-400 : rgb(199, 202, 208);
$grey-500 : rgb(170, 175, 184);
$grey-600 : rgb(128, 136, 149);
$grey-700 : rgb(103, 111, 124);


// primary 

$primary-color:#C10230;
$primary-darker:#b00023;


// font 
// $light-font:'noto-light', sans-serif;
// $thin-font:'noto-thin', sans-serif;
// $regular-font:'noto-regular', sans-serif;
// $medium-font:'noto-medium', sans-serif;
// $bold-font:'noto-bold', sans-serif;


// font-sizes
$font-xxs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 24px;
$font-xxxl: 32px;
$font-xxxxl: 48px;


// font-colors

$page-title:$font-xxl;
$page-subtitle:$font-xl;
$section-title:$font-lg;
$section-subtitle:$font-md;


@mixin table-heading {
   font-size: $font-sm;
    font-weight: 500;
    color: $black !important;
}
@mixin table-row {
   font-size: $font-sm;
//    color: $primary-color;
}
@mixin table-pagination {
   font-size: $font-sm;
   color: $grey-700;
}


@mixin action-btn-1{
    display: flex;
    align-items: center;
    transition: all 100ms ease-in-out;
    border: 1px solid $primary-color;
    color: $white;
    padding: 4px 8px;
    background-color: $primary-color;
    font-size: $font-sm;
    // font-weight: 600;
    height: 30px;
    text-wrap: wrap;

}
@mixin action-btn-2{
    display: flex;
    align-items: center;
    transition: all 100ms ease-in-out;
    border: 1px solid $red-dark;
    color: $red-dark;

}

@mixin action-btn-3{
    display: flex;
    align-items: center;
    transition: all 100ms ease-in-out;
    border: 1px solid $grey-700;
    color: $grey-700;

}
@mixin action-btn-4{
    display: flex;
    align-items: center;
    transition: all 100ms ease-in-out;
    border: 1px solid $grey-700;
    color: $grey-700;
}



// $page-title:$font-xxl;
// $page-subtitle:$font-xl;
// $section-title:$font-lg;
// $section-subtitle:$font-md;








