

<div  class="sidebar">
  <div
    style="min-height: 50px; padding-left: 20px"
    class="d-flex align-items-center gap-1 me-auto border-bottom"
  >
    <div
      class="rightBar"
      style="font-size: 24px; color: white; font-weight: bolder"
    >
      <img style="width: 75px;" src="../../../assets/imges/skf-logo-white.svg" alt="">
    </div>
    <div style="color: #626a78">|</div>
    <div style="color: white; font-weight: bold; line-height: 21px">
      LFC Cloud
    </div>
  </div>

  <mat-list role="list" class="p-0">
    <mat-list-item
      (click)="closeSidebar()"
      [routerLinkActive]="'active-link'"
      [routerLink]="link.link"
      role="listitem"
      class="border-bottom"
      *ngFor="let link of filteredNavigationLinks"
    >
      <div class="d-flex align-items-center" >
        <img [src]="link.icon" alt="" class="icon-regular"> <span class="ms-2" style="color: white;" > {{link.name}} </span> 
      </div>
    </mat-list-item>
  </mat-list>
</div>
