<div class="device-add-container">
    <div class="skf-background pb-2 pt-2 ps-3 pe-3 page-title">
      Comment  History
    </div>
    <div class="pb-2  ps-3 pe-3" >
            <app-common-table
               
              [columns]="displayed_columns"
              [data]="table_data"
            ></app-common-table>

            <div class="mt-2 " >

              <button style="outline: none;" class="action-button-1 ms-auto" (click)="closeModal()" >Close</button>
            </div>
    </div>

    
  
      
   


  </div>
