<div class="request-support-container pe-3 ps-3">

    <div class="d-flex justify-content-between"  style="margin-bottom: 15px;padding-top: 15px;" >
        <span class="header-1" >Request Support</span>
    </div>
    <form class="row" >
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Device ID</label>
            
            <select name="" id="" class="form-select input_border_class" >
               <option value="">123</option>
            </select>
        
        </div>
        <div class="col-sm-6 mb-2">

            <label class="mb-2" for="">Support Request</label>
            <input type="text" class="form-control input_border_class" >
        
        </div>
        
        

        <div class="col-sm-12 mb-2 d-flex align-items-center">

            
            <input id="rs-checkbox"  type="checkbox" class="form-check input_border_class" >
            <label for="rs-checkbox" class="ms-2">
                Allow Remote Access
            </label>
        
        </div>
        <div class="col-sm-12 d-flex justify-content-end mb-2 mt-2 mb-2">
            <button type="button" class="action-button-1" (click)="closeModal()"  >Cancel</button>
            <button class="action-button-1  ms-2" >Submit</button>
        </div>
       
    </form>
</div>