<div class="d-flex justify-content-between" style="margin-bottom: 15px">
  <span class="header-1">
    {{
      isEditModeOn
        ? rowData?.name
          ? rowData?.name
          : "Unknown"
        : "Activate An Edge Device"
    }}
  </span>
  <button *ngIf="isEditModeOn" class="action-button-1" [disabled]="true">Delete Device</button>
</div>

<app-common-card>
  <div class="row" style="height: auto">
    <ng-container *ngIf="isEditModeOn">
      <div class="col-sm-6">
        <div>Device ID: {{ rowData?.thing_name }}</div>
        <div>
          Device Status:
          {{
            rowData?.creation_status_name
              ? rowData?.creation_status_name
              : "Unknown"
          }}
        </div>

        <div>
          Connection Status:
          {{
            rowData?.connection_status_name == "Connected"
              ? "Online"
              : "Offline"
          }}
          <div
            style="height: 10px; width: 10px; display: inline-block"
            [class]="
              rowData?.connection_status_name == 'Connected'
                ? 'rounded bg-success'
                : 'rounded bg-danger'
            "
          ></div>
        </div>
      </div>
      <div class="ms-auto col-sm-3 d-flex">
        <button
          class="action-button-1 ms-auto align-self-end justify-content-end" (click)="CheckConnection()"
        >
          Check Connection
        </button>
      </div>
      <div class="col-sm-12">
        <hr />
      </div>
    </ng-container>

    <div class="col-sm-12">
      <form class="row" [formGroup]="deviceForm">
        <div class="col-sm-12" *ngIf="isEditModeOn == false">
          <label class="font-size-sm mb-2 mt-2" for="">Registered Device</label>
          <select
            (change)="onDeviceSelect($event)"
            class="form-select"
            formControlName="enroll_device"
            id=""
          >
            <option
              [value]="option.device_id"
              *ngFor="let option of device_parent_data"
            >
              {{ option["Device Name"] }}
            </option>
          </select>
          <app-common-error
            [form_control_name]="deviceForm.get('enroll_device')"
          ></app-common-error>
        </div>
        <div class="col-sm-4">
          <label class="mb-2 mt-2" for="">Device Name</label>
          <input
            class="form-control"
            formControlName="device_name"
            type="text"
            placeholder="Device Name"
          />
          <app-common-error
            [form_control_name]="deviceForm.get('device_name')"
          ></app-common-error>
        </div>
        <div class="col-sm-4">
          <label class="font-size-sm mb-2 mt-2" for=""> Country</label>
          <select
            (change)="onCountrySelect($event)"
            class="form-select"
            formControlName="country"
            id=""
          >
            <option value="">
              Select
            </option>
            <option [value]="country.value" *ngFor="let country of countryList">
              {{ country.viewValue }}
            </option>
          </select>
          <app-common-error
            [form_control_name]="deviceForm.get('country')"
          ></app-common-error>
        </div>

        <div class="col-sm-4">
          <label class="font-size-sm mb-2 mt-2" for=""> State</label>
          <select class="form-select" formControlName="state" id="">
            <option value="">
              Select
            </option>
            <option [value]="state.value" *ngFor="let state of StatesList">
              {{ state.viewValue }}
            </option>
          </select>
          <app-common-error
            [form_control_name]="deviceForm.get('state')"
          ></app-common-error>
        </div>
        <div class="col-sm-4">
          <label class="mb-2 mt-2" for="">Location</label>
          <input
            class="form-control"
            formControlName="location"
            type="text"
            placeholder="Location"
          />
          <app-common-error
            [form_control_name]="deviceForm.get('location')"
          ></app-common-error>
        </div>
        <div class="col-sm-4">
          <label class="font-size-sm mb-2 mt-2" for=""> Timezone</label>
        
          <select class="form-select" formControlName="timezone" id="">
            <option value="">
              Select
            </option>
            <option
              *ngFor="let timezone of timezoneList"
              [value]="timezone.value"
            >
              {{ timezone.viewValue }}
            </option>
          </select>
          <app-common-error
            [form_control_name]="deviceForm.get('timezone')"
          ></app-common-error>
        </div>
        <div class="col-sm-4">
          <label class="mb-2 mt-2" for="">Assign Device Manager</label>
          <select class="form-select" formControlName="device_manager" id="">
            <option value="">
              Select
            </option>
            <option [value]="option.value" *ngFor="let option of deviceManager">
              {{ option.viewValue }}
            </option>
          </select>
          <app-common-error
            [form_control_name]="deviceForm.get('device_manager')"
          ></app-common-error>
        </div>
        <div class="mt-2 col-sm-4">
          <div class="d-flex align-items-center">
            <input
              class="me-2"
              type="checkbox"
              formControlName="link_child"
              placeholder=""
              id="link_child"
              (change)="onParentLink($event)"
            />
            <label for="link_child">Link as a child device</label>
          </div>
          <div *ngIf="isEditModeOn">
            Linked To: {{ rowData?.parent_device_name }}
          </div>
        </div>
        <!-- <div class="mt-2 col-sm-8 d-flex align-items-center">
          <input
            class="me-2"
            type="checkbox"
            formControlName="status"
            placeholder=""
          />
          <label for="">Deactivate Device</label>
        </div> -->
        <div class="col-sm-4">
          <label class="mb-2 mt-2" for="">Parent Device</label>
          <select class="form-select" formControlName="parent_device" id="">

            <option value="" selected>Select</option>
            <option
              [value]="option.value"
              *ngFor="let option of parent_device_data"
            >
              {{ option.viewValue }}
            </option>
          </select>
        </div>

        <div class="col-sm-4 d-flex">
          <button
           [disabled]="deviceForm.invalid"
            type="button"
            class="action-button-1 align-self-end ms-auto"
            (click)="isEditModeOn ? updateDevice() : AddDevice()"
          >
            Submit
          </button>
        </div>

        <ng-container *ngIf="isEditModeOn">
          <div class="col-sm-12">
            <hr />
            <div class="section_title mb-4">Control Device</div>
          </div>

          <div class="col-sm-12 col-xl-2 col-lg-4">
            <app-common-card>
              <div style="min-height: 150px">
                <button class="mb-3 action-button-1"  [disabled]="rowData?.connection_status_name == 'Disconnected'" (click)="takeBackup()">Take Backup</button>
                <div>
                  <div>Backup Requested</div>
                  <div>{{deviceRecentActions?.TakeBackUp}}</div>
                </div>
              </div>
            </app-common-card>
          </div>
          <div class="col-sm-12 col-xl-2 col-lg-4">
            <app-common-card>
              <div style="min-height: 150px">
                <button class="mb-3 action-button-1"  (click)="downloadUpdateBackup()" >Download Backup</button>
              </div>
            </app-common-card>
          </div>
          <div class="col-sm-12 col-xl-2 col-lg-4">
            <app-common-card>
             
              <div style="min-height: 150px">
                <button class="mb-3 action-button-1" [disabled]="rowData?.connection_status_name == 'Disconnected'" (click)="UpdateAgent()">Update Agent</button>

                <div>Last Updated</div>
                <div>{{deviceRecentActions?.UpdateAgent}}</div>
               
              </div>
            </app-common-card>
          </div>
          <div class="col-sm-12 col-xl-2 col-lg-4">
            <app-common-card>
              <div style="min-height: 150px">
                <button class="mb-3 action-button-1"  [disabled]="rowData?.connection_status_name == 'Disconnected'" (click)="UpdateQDA()" >Update QDA</button>

                <div>Last Updated</div>
                <div>{{deviceRecentActions?.UpdateQDA}}</div>
                <div></div>
              </div>
            </app-common-card>
          </div>
          <div class="col-sm-12 col-xl-2 col-lg-4">
            <app-common-card>
              <div style="min-height: 150px">
                <button class="mb-3 action-button-1"  [disabled]="rowData?.connection_status_name == 'Disconnected'" (click)="UpdateEnterprize()">Update Enterprise</button>

                <div>Last Updated</div>
                <div>{{deviceRecentActions?.UpdateEnterprise}}</div>
              </div>
            </app-common-card>
          </div>
          
        </ng-container>
      </form>
    </div>
  </div>
</app-common-card>
