@import '../../../../variables';
.nav_background{
    background-color: $blue-dark;
    color:white;
    padding: 10px 30px;
    }
    
    .text-sm{
        font-size: $font-md;
    }
    
    .text-smaller{
        font-size: $font-sm;
    }
    .login_container{
    min-width: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 5px #f2f2f2;
    border: none;
    
    }
    
    .wrapper-class{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .login_header{
    color: $blue-dark;
    padding: 10px 30px;
    
    }
    
    .login_form{
        padding: 10px 30px;
    }
    
    .forgot_password{
    color: $blue-dark;
    text-decoration: none;
    cursor: pointer;
    }
    
    .font-medium{
        font-size:$font-md;
    }