<div class="wrapper-class">
    <div class="login_container border">
         <h3 class="nav_background" >SKF</h3>
         <h5 class="login_header">Reset LFC Cloud Password</h5>
         <div class="login_form" >
  
          <form>
              <label style="display: block;" class="mb-2 text-smaller"   for="">Enter password at least 8 characters <br> long with at least one number, one special character <br> and one capital letters  </label>
              
              <label class="text-sm fw-bold" for="">Create New Password:</label>
              <input placeholder="New Password" type="text" class="form-control mb-2" style="outline: none;box-shadow: none;" >
              <label class="text-sm fw-bold" for="">Confirm Password:</label>
              <input placeholder="Confirm Password" type="text" class="form-control mb-2" style="outline: none;box-shadow: none;" >
             
              <button class="nav_background mb-2" style="color: white;" mat-button>Submit</button>
              
          </form>
  
         </div>
  
          
    </div>
  </div>
  