<div class="wrapper-class">
    <div class="login_container border">
         <h3 class="nav_background" >SKF</h3>
         <h5 class="login_header">Verify Email to Reset Password</h5>
         <div class="login_form" >
  
          <form>
              <label class="mb-2" for="">Please enter your registered email <br> to reset your password </label>
              <input placeholder="email" type="text" class="form-control mb-2" style="outline: none;box-shadow: none;" >
             
              <button class="nav_background mb-2" style="color: white;" mat-button>Submit</button>
              
          </form>
  
         </div>
  
          
    </div>
  </div>
  