<div class="wrapper-class">
    <div class="login_container border">
        <div  class="nav_background">
            <div style="width: 75px">

                <img src="../../../assets/imges/skf-logo-white.svg" alt="" />
            </div>
          </div>
         <h5 class="login_header">Verify Email to Reset Password</h5>
         <div class="login_form" >
  
          <form>
              <label class="mb-2" for="">Please enter your registered email <br> to reset your password </label>
              <input placeholder="Email" type="text" class="form-control input_border mb-2" style="box-shadow: none;" >
             
              <button class="action-button-1 btn mb-2">Submit</button>
              
          </form>
  
         </div>
  
          
    </div>
  </div>
  