
<div class="center-container">
    <div class="login-container">
      <div class="mb-5">
        <img style="height: 100%;width: 120px;" src="../../../../assets/imges/Alemite-logo-colour.svg" alt="">  
      </div>
      <div class="header-1 mb-3 page-title-color">Reset Password</div>
      <form class="row" [formGroup]="mail_verification_form" >
        <div class="col-sm-12 mb-2">
          <input type="text" formControlName="mail" class="form-control input_border_class" placeholder="Enter your mail" />
          <app-common-validation-error [Control]="mail_verification_form.get('mail')" ></app-common-validation-error>
  
        </div>
       
      
        <div class="col-sm-12 mb-3" >
          <button [disabled]="mail_verification_form.invalid"  (click)="onSubmit()"  class="action-button-1" >
              Verify Mail</button>
        </div>
       
      </form>
    </div>
  </div>
  