<div class="site_details_container row h-100">
  <div class="col-sm-5 row">
    <div class="mt-1 mb-1 col-sm-12 d-flex justify-content-between">
      <div class="fw-bold me-2">
      <div style="height: 10px;width: 10px;display: inline-block;" class="rounded bg-success" ></div>  {{ card_title ? card_title : "Device Name. Location" }}
      </div>
      <div class="font-size-sm">11/22/23 12:36</div>
      <button class="action-button-3 me-2 ms-auto">Refresh</button>
    </div>
    <div class="mt-1 mb-1 col-sm-12">
      <div class="row d-flex align-items-center">
        <div class="col-auto">
          <label for="">Show Site:</label>
        </div>
        <div class="col-sm-3">
          <select class="form-select" name="" id="">
            <option value="">All</option>
          </select>
        </div>
        <div class="col-auto ms-auto">
          <label for="">Show Fluid:</label>
        </div>
        <div class="col-sm-4">
          <select class="form-select" name="" id="">
            <option value="">All</option>
          </select>
        </div>
      </div>
    </div>
    <app-chart [chartOptions]="chartOptions"></app-chart>
    <div
      class="col-sm-12 d-flex align-items-center"
      style="align-self: baseline"
    >
      <button class="action-button-3">Download Data</button>
    </div>
  </div>

  <div class="col-sm-4 d-flex flex-column ">
    <div class="mt-1 mb-1 fw-bold col-sm-12">Device Alerts</div>
    <div [style]="" class="row m-0" style="overflow-x: auto">
      <table class="table table-bordered border alerts_table">
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Time</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let alarm of alarms">
          <td>
            {{ alarm.id }}
          </td>
          <td>
            {{ alarm.type }}
          </td>
          <td>
            {{ alarm.time }}
          </td>
          <td>
            {{ alarm.description }}
          </td>
        </tr>
      </table>
    </div>
    <div class="mt-auto" >
      <button class="action-button-3"  [routerLink]="'/alerts'">Show More</button>
    </div>
   
  </div>
  <div class="col-sm-3 ">
    <div class="mt-1 mb-1 fw-bold col-sm-12">Tank Levels</div>
    <div class="" style="overflow-x: auto">
      <table class="table table-bordered border alerts_table">
        <tr>
          <th>Tank Name</th>
          <th>Fluid Name</th>
          <th>Capacity</th>
          <th>Balance</th>
          <th>Level</th>
        </tr>
        <tr *ngFor="let tank of tanks">
          <td>
            {{ tank.tank_name }}
          </td>
          <td>
            {{ tank.fluid_name }}
          </td>
          <td>
            {{ tank.capacity }}
          </td>
          <td>
            {{ tank.balance }}
          </td>
          <td >
           <span  [class]=" tank.level == 40 ? 'warning rounded-pill':''"   >
            {{ tank.level }} %
           </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
 
 
</div>
