// colors
$primary-color: #3c68ae;



// fonts
$primary-font-family: 'Roboto', sans-serif;


// font-sizes
$font-xm: 8px;
$font-sm: 10px;
$font-md: 14px;
$font-lg: 18px;
$font-xl: 24px;
$font-xxl: 40px;;


// font-colors

$font-light:#ffffff;
$font-dark: #696969;

