@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/scss/bootstrap";
@import "variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}


p {
  margin: 0;
}

.content-wrapper .mat-form-field-underline {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-wrap {
  white-space: nowrap;
}

.primary-background {
  background-color: $primary-color;
}





.snakbar_style{
  background-color: $primary-color;
  color: $font-light;
  font-size: $font-md;
}