@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/scss/bootstrap";
@import "variables";


@font-face {
  font-family: noto-light;
  src: url(./assets/fonts/NotoSansDisplay-Light.ttf);
}
@font-face {
  font-family: noto-thin;
  src: url(./assets/fonts/NotoSansDisplay-Thin.ttf);
}
@font-face {
  font-family: noto-regular;
  src: url(./assets/fonts/NotoSansDisplay-Regular.ttf);
}


html,
body {
  height: 100%;
}
body { margin: 0;font-family:$regular-font; color: $grey-5; }

* {
  box-sizing: border-box;
  font-size: $font-rg;
}

p {
  margin: 0;
}

.content-wrapper .mat-form-field-underline {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-wrap {
  white-space: nowrap;
}

.primary-background {
  background-color: $skf-blue;
}


.font-size-xm{
font-size: $font-xm;
}
.font-size-sm{
font-size: $font-sm;
}
.font-size-rg{
font-size: $font-rg;
}
.font-size-md{
font-size:$font-md ;

}
.font-size-lg{
font-size:$font-lg ;
}

.font-size-xl{
font-size:$font-xl ;

}
.font-size-xxl{
font-size:$font-xxl ;

}
.font-size-xxxl{
font-size:$font-xxxl ;

}


.action-button-1{
  @include action-btn-1;

}
.action-button-2{
  @include action-btn-2;

}
.action-button-3{
  @include action-btn-3;

}
.action-button-4{
  @include action-btn-3;

}

.action-button-1:hover{
  background-color: $skf-blue;
  color: $white;
}
.action-button-2:hover{
  background-color: $red-2;
  color: $white;
}
.action-button-3:hover{
  background-color: $skf-blue;
  color: $white;
}
.action-button-4:hover{
  background-color: $grey-4;
  color: $white;
}


.hyperlink{
  color: $bright-blue;
  font-size: $font-rg;
  cursor: pointer;
}



.select{
  border: 1px solid $grey-3;
}
.input_border{
  border: 1px solid $grey-3;
}


.page-title{
  font-size: $page-subtitle;
  color: $skf-blue;
  }




  .transparent-select{
    background-color: transparent;border: none;color: white;
  }
  .transparent-select option{
    color: $grey-5;
  }


  .icon-regular{
    width: auto;
    height: 18px;
  }


  .invert_img{
    filter: invert(1);
  }