
<nav aria-label="breadcrumb" style="min-height: 30px;" class="mb-2">
  <ol class="d-flex align-items-center m-0 p-0" style="list-style: none; ">
    <li  class="d-flex align-items-center" *ngFor="let breadcrumb of breadcrumbs;let first=first;let last=last" >
      <ng-container *ngIf="last && !first" >
        <div class="w-100" >
          {{ breadcrumb.name }}  
        </div>
       
      </ng-container>
      <ng-container *ngIf="!last && !first" >
        <span class="cursor-pointer breadcrumb-item" [routerLink]="breadcrumb.link" >  {{ breadcrumb.name }}  </span> <img *ngIf="breadcrumbs.length  > 1" class="skf_breadcrumb" style="height: 30px; transform: rotateZ(90deg);" src="../../../../assets/imges/icons/angle-up.svg" alt=""> <span *ngIf="breadcrumbs.length  > 1"  class="ms-2 me-2 alemite_breadcrumb" > /</span>
       
      </ng-container>
      <ng-container *ngIf="first"   >
        <span   [routerLink]="breadcrumb.link" >  <span class="" [ngClass]="{'breadcrumb-item' :breadcrumbs.length > 1 && first  }"  >Home</span>  <img *ngIf="breadcrumbs.length > 1" class="skf_breadcrumb" style="height: 30px; transform: rotateZ(90deg);" src="../../../../assets/imges/icons/angle-up.svg" alt=""> <span *ngIf="breadcrumbs.length  > 1"  class="ms-2 me-2 alemite_breadcrumb" > /</span>  </span>
      </ng-container>
      
     
    </li>
  </ol>
</nav>


<!-- <img  class="cursor-pointer" style="height: 20px; filter: invert(1);" src="../../../../assets/imges/icons/home.svg" alt="">  -->